/* 
    Created on : 14/07/2023, 08:20:08
    Author     : DataRowInfo>
*/

#codigoagente{
    width: 120px;
}

#descricaochamado{
    width: 480px;
}

#tipochamado{
    width: 100px;
}

#FecharChamado{
    float:right;
    margin-top: 20px;
    margin-right: 5px;
    width: 100px;
    height: 35px;
}

#SalvarChamado{
    float:right;
    margin-top: 20px;
    padding:0;
    width: 100px;
    height: 35px;
}

#Anexar{
    margin-top: 2px;
    padding:0;
    width: 100px;
    height: 35px;
}

#iconChamado{
    padding: 9px;
}

#acao{
    width: 90px;
}

#especificacaochamado{
     width: 600px;
     height: 170px;
}


