
*{
	margin: 0;
	padding: 0;
}

#principal{
	
	background-color: #6C757D;
	background-image: linear-gradient(to right, #6C757D, #6C757D, #6C757D, #C0C0C0);
}
#Logo{
	
	position: absolute;
	top:50%;
	left:50%;
	margin-left: -211px;
	margin-top: -176px;
}

#restrito{
    width:180px;
}


#chamados{
    width:180px;
}



