/* 
    Created on: 
    25/10/2023, 08:20:08
    Author: 
    DataRowInfo
*/
#descricaosetor{
    width: 300px;
}

#recipient-descricao{
    width: 500px;
}

#caracterizacaosetor{
    width: 420px;
}

#recipient-caracterizacao{
    width: 500px;
}

#ExcluirCadSetor{
    float:right;
    margin-right:3px;
    margin-top: 5px;
    width: 35px;
    height: 35px;
    
}

#LimparCadSetor{   
    margin-top: 5px;
    width: 100px;
    height: 35px;
}

#SairCadSetor{ 
    float:right;
    margin-top: 5px;
    margin-right: 3px;
    width: 35px;
    height: 35px;   
}

#SalvarCadSetor{ 
    float:right;
    margin-top: 5px;
    width: 35px;
    height: 35px;  
}

#EditCadSetor{  
    margin-left: 5px;
    margin-top: 5px;
    width: 100px;
    height: 35px;
}

#margin{
    margin-top:15px;
}

#iconCadSetor{
   
    top:50%; 
    left:50%; 
    width:20px; 
    height:20px;
    margin:-5px 0 0 -5px;
}